*{
    margin: 0px;
    padding: 0px;
}
#master{
    padding: 0px 30px;
    
}

#navbar1{
    background-color: #eeeeee;
    padding: 8px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:2px solid #eeeeee;
}
#left-div{
    display: flex;
    gap: 25px;
}
#flag-div {
    height: 18px;
    width: 24px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: left;
    background-size: cover;
    background-position: center;

}
.turkey{
    height: 36px;
    width: 48px;
    display: flex;
    flex-direction: row;
   margin: 0px;
   padding: 0px;
  

}

#lang-btn{
 
    background-color: #FFF;
    border: 1px solid #d9d9d9;
    padding: 4px 15px;
    height: 32px;
    width: 80px;
}

#navbar2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    height: 55px;
    border-bottom: 2px solid #d9d9d9;
  
}
#div2right{
    display: flex;
    flex-direction: row;
    align-items: center;

}
a{
    margin-right: 30px;
    text-decoration: none;
}
.div2btn{
    width: 98px;
    height: 32px;
    margin-right: 5px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    color: #FFF;
    

}
#HeroSec{
    height: 520px;
    background-image: url(./images/HeroBackgroundballs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size:contain;
    background-position:top;
    padding: 15px;
}
#heroleft{
    width: 50%;
    margin-top: 50px;
    
}
#heroright{
     width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}
#heroright img{ 
    width: 80%;       
  height: auto;      
  object-fit: cover;
  margin-left: 30px;
}
#explore{
    margin-top: -20px;
    border: 1px solid black;
    height: 50px;
    width: 200px;
}
h1{
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight:500;
    opacity:90%;
}

h2{
  font-size: 28px;  
}
#heroleft p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 22px;
}
#quickdonate{
    height: 120px;
    background-color :#f0fcdb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    border-radius: 10px solid black;
    border-radius: 15px;
    
    
}
#zero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 53px;
    width: 300px;
    border-radius: 10px;
    gap: 15px;
    background-color: #424242;
    color: #fff ;
    
}
#zero input{
   
    height: 90%;
    padding-left: 5px;
    
}
.zero1{
    font-weight:700;
}
#btn2{
   background-color: #FFF;
   height: 53px;
   border-style: none;
   border-radius: 10px;
   background-color: #FFF;
   font-weight:700;
   padding: 5px 25px;
}

#btn3{
    height: 53px;
    border: 10px;
    border-style: none;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: #FFF;
    font-weight:700;
}
#btn4{
    height: 53px;
    border: 10px;
    border-style: none;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: #FFF;
      font-weight:700;
}
#btn5{
    height: 53px;
    border: 10px;
    border-style: none;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: #FFF;
      font-weight:700;
}
#btn6{
    background-color: #FFF;
    height: 53px;
    border: 10px;
    border-style: none;
    border-radius: 10px;
    padding: 5px 25px;
      font-weight:700;
}

#btn7{
    
    padding: 0px 100px;
    background-color: #8DC63F;
    height: 53px;
    border: 10px;
    border-style: none;
    border-radius: 10px;
    padding: 5px 25px;
      font-weight:700;
      color: #fff;
}
#flat{
    background-image: url('https://res.cloudinary.com/saylani-welfare/image/upload/v1754029162/website-images/dynamic/1f34e2b4-2ba9-45e4-9061-33999d56cc4a.png');
   height: 436px;
    background-size: 100% 100%;
    background-position:center;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
   
    
}
#FlatDonate{
     padding: 0px 100px;
    background-color: #8DC63F;
    height: 58px;
    border: 10px;
    border-style: none;
    border-radius: 10px;
    padding: 5px 25px;
      font-weight:700;
      color: #fff;
      font-size: 30px;
      margin-left: 85%;
      margin-top: 28%;
      
}
#FlatDonate a{
    color: #FFF;
}
#doing{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight:700;
    height: 150px;
}
#doing h2{
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight:500;
    font-size: 34px;
}
#Wearedoing{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.btndiv{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    width: 200px;
    height: 180px;
    background-color:#f0fcdb;
    
    
}
.btndiv img {
    background-color: #f0fcdb; 
  
}
#donationbtns{
   
    gap: 25px;
    border-radius: 15px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
#d1{
    background-image: url(./images/Medical\ treatment\ image);
    
    border-radius: 13px;
    height: 230px;
    width: 400px;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    
}



#d2{
    background-image: url(./images/KIfalat\ families\ image);
   border-radius: 13px;
    height: 230px;
    width: 400px;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    
}

#d3{
    background-image: url(./images/Flood\ Compaign\ Relief);
    border-radius: 13px;
    height: 230px;
    width: 400px;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    
}
.donate{
    color: #fff;
    
    background-color:#8DC63F;
    height: 40px;
    border-radius: 10px;
    width: 90%;
    padding-bottom: 50px;
    border: none;
    font-size: 16px;
    text-align: center;
    padding: 10px 30px;
    margin-top: 130px;
  
}
#projects{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
   border: 5px solid blue;
    
    background-size: cover;
    background-position: center;
    gap: 40px;
    width: 99%;
    

}
#proj1{
    width: 49%;

    height: 100%;
    background-image: url(./images/Food\ Serving);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px 0px 0px 0px;
    display: flex;
    flex-direction: row;

    
}
.box1{
    border-radius: 100px 0px 0px 0px;
    height: 50%;
    width: 49%;
    background-color: #8DC63F;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
      border-bottom: 1px solid white;
    
}
 .box2{
   
    height: 100%;
    width: 50%;
    border-left: 1px solid white;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   

    
}
#bottombox2{
      border-top: 1px solid white;
    
}


.box1 p{
    height: 80px;
    width: 140px;
    font-size: 20px;
   
}

#proj2{
    width: 50%;
    margin-top: 20px;
    height: 100%;
    
    
}
#proj2 h1{
     font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 32px;
}
.otdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#eeeeee;
    width: 80px;
    height: 80px;
    flex-wrap: wrap;
    border-radius: 10px;
   
    flex-shrink: none;
}
.ot{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
    margin-top: 20px;
}
#txt{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    justify-content: flex-start;

}

#counter{
    display: flex;
    flex-direction: row;
    height: 500px;
  background-color:#3b82f6;
    width: 100%;
     background-image: url(./images/wave);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    

    

}
#wave{
    opacity: 50;
}
.counterinternal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     margin-top: 15px;
    
    height: 100%;
    width: 25%;
   
    

}

.imgdiv{
    background-color: #FFF;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-position: center;
    margin-bottom: 10px;
   
    
}
.imgdiv img{
    padding: 25%;
}

#testi{
    height: 140px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#testi h1{
        font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 34px;
}
h4{
    color:#8DC63F;
    margin-top: 10px;
}


#Director{
    background-color: #eeeeee;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    text-align: center;
    line-height: 30px;
    
}
#Director h2{
    font-size: 24px;
    margin-top: 10px;
}

#Director span{
    font-size: 17px;
    padding: 6px;
}

#dir-img{
    height: 120px;
    width: 120px;
    
}

#dir-img img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    
}
#Directorbtn{
   
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
    
}

#btnb {
     background-image: url(./images/backimg1.png);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #8DC63F;
    background-size: cover;
    background-position: center;
    border: none;
    
}
#btnb:hover , #btnf:hover {
   
    background-color: #8DC63F;
    height: 60px;
    width: 60px;
    
}


#btnf{
     background-image: url(./images/forwardimg1.png);
    height: 50px;
    width: 50px;
    border-radius: 10px;
 
    background-size: cover;
    background-position: center;
    border: none;
    
}
#MediaUpdates{
    
    height: 130px;
     font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
/*    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  */      
.News{
    height : 340px;
    width: 280px;
    border: 2px solid black;
}
#newsdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*overflow: hidden;
